# mandatory: name of your NAS in the lan
config_hostname="nas.local"
# mandatory: MAC address of your NAS, used for wake on lan
config_mac="00:00:DE:AD:BE:EF"
# optional: a list of shares separated by 
config_shares="MyShare, AnotherShare"
# optional: delay before WOL
config_delay_after_wol_seconds=140
# optional: wait time between up checks
config_up_timeout_seconds=10
# optional: number of retries of up checks
config_up_retries=10
# optional: which user is used to execute the shutdown command via ssh
config_ssh_user="root"
# optional: port of the ssh server
config_ssh_port=22
# optional: which port shall be used to verify that your NAS is started
config_up_test_port=139